@model SupeRSAfe.DTO.Manage.EmailViewModel
@{
    ViewData["Title"] = "Send";
}

<form method="post" asp-controller="Home" asp-action="Send">
    <div class="form-group row">
        <div class="col-sm-12">
            <h1>Send</h1>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Receiver"></label><br />
                <input asp-for="Receiver" class="form-control" />
                <span asp-validation-for="Receiver"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject"></label><br />
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject"></span>
            </div>
            <div>
                <label asp-for="PValue"></label><br />
                <input asp-for="PValue" class="form-control">
                <span asp-validation-for="Subject"></span>
            <div>
                <label asp-for="QValue"></label><br />
                <input asp-for="QValue" class="form-control">
                <span asp-validation-for="QValue"></span>
            </div>
            <div class="form-check">
                <input asp-for="UseRandomValues" class="form-check-input" type="checkbox" checked>
                <label asp-for="UseRandomValues" class="form-check-label"></label>
                <span asp-validation-for="UseRandomValues"></span>
            </div>
            <div>
                <label asp-for="Message"></label><br />
                <textarea rows="9" type="text" asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message"></span>
            </div>
            <br />
            <div>
                <button type="submit" class="btn btn-success">Send</button>
            </div>
            </div>
    </div>
</form>
